In [1]:
#Import libraries
import requests 
from lxml import html
from IPython.core.interactiveshell import InteractiveShell
import pandas as pd
import numpy as np
#Set Jupyter Notebook to show all output from each cell
InteractiveShell.ast_node_interactivity = "all"
#Scrape UD webpage to get information from 2023 season
URL = "https://admin.bluehens.com/services/schedule_txt.ashx?schedule=4416" 
headers={'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/42.0.2311.135 Safari/537.36 Edge/12.246'}
r = requests.get(url=URL, headers=headers) 
#put content into html object
mytree = html.fromstring(r.content)
#save text from html object to python list
season2023 = mytree.xpath('node()')

In [2]:
#cleaning up Python list with data from all games
season2023 = season2023[0].split(" ")
season2023=season2023[102:]
season2023=[x.replace("\n\r", "") for x in season2023]
season2023=[y.replace(",","") for y in season2023]
season2023=[z.strip() for z in season2023]
season2023 = list(filter(None, season2023))
season2023

['Aug',
 '31',
 '(Thu)',
 '7',
 'PM',
 'Away',
 'Stony',
 'Brook',
 'Stony',
 'Brook',
 'N.Y.',
 'W',
 '37-13Sep',
 '9',
 '(Sat)',
 '12',
 'p.m.',
 'Away',
 'Penn',
 'State',
 'University',
 'Park',
 'Pa.',
 'L',
 '7-63',
 'Sep',
 '16',
 '(Sat)',
 '6',
 'PM',
 'Home',
 'Saint',
 'Francis',
 '(Pa.)',
 'Newark',
 'Del.',
 '(Delaware',
 'Stadium)',
 'W',
 '42-14Sep',
 '23',
 '(Sat)',
 '6',
 'PM',
 'Home',
 'New',
 'Hampshire',
 'Newark',
 'Del.',
 '(Delaware',
 'Stadium)',
 'W',
 '29-25Oct',
 '7',
 '(Sat)',
 '3',
 'PM',
 'Home',
 'Duquesne',
 'Newark',
 'Del.',
 '(Delaware',
 'Stadium)',
 'W',
 '43-17Oct',
 '14',
 '(Sat)',
 '3',
 'PM',
 'Home',
 'North',
 'Carolina',
 'A&T',
 'Newark',
 'Del.',
 '(Delaware',
 'Stadium)',
 'W',
 '21-6',
 'Oct',
 '21',
 '(Sat)',
 '2',
 'PM',
 'Away',
 'Hampton',
 'Hampton',
 'Va.',
 'W',
 '47-3',
 'Oct',
 '28',
 '(Sat)',
 '1',
 'PM',
 'Away',
 'Towson',
 'Towson',
 'Md.',
 'W',
 '51-13Nov',
 '4',
 '(Sat)',
 '1',
 'PM',
 'Home',
 'Elon',
 'Newark',
 'Del.',
 '(Delaware',
 'Stadium)',
 'L',
 '27-33Nov',
 '11',
 '(Sat)',
 '1',
 'PM',
 'Away',
 'Campbell',
 'Buies',
 'Creek',
 'N.C.',
 'W',
 '45-7',
 'Nov',
 '18',
 '(Sat)',
 '1',
 'PM',
 'Home',
 'Villanova',
 'Newark',
 'Del.',
 '(Delaware',
 'Stadium)',
 'L',
 '7-35',
 'Nov',
 '25',
 '(Sat)',
 '2',
 'p.m.',
 'Home',
 'Lafayette',
 'TBD',
 'W',
 '36-34Dec',
 '2',
 '(Sat)',
 '9',
 'p.m.',
 'Away',
 '#2',
 'Montana',
 'Missoula',
 'Mont.',
 'L',
 '19-49']

In [3]:
#separating score and month of next game
season2023.index('37-13Sep')
season2023[12] = '37-13'
season2023.insert(13, 'Sept')
season2023[12:15]

12

['37-13', 'Sept', '9']

In [4]:
#separating score and month of next game
season2023.index('42-14Sep')
season2023[40] = '42-14'
season2023.insert(41, 'Sep')
season2023[40:43]

40

['42-14', 'Sep', '23']

In [5]:
#separating score and month of next game
season2023.index('29-25Oct')
season2023[54] = '29-25'
season2023.insert(55, 'Oct')
season2023[54:57]

54

['29-25', 'Oct', '7']

In [6]:
#separating score and month of next game
season2023.index('43-17Oct')
season2023[67] = '43-17'
season2023.insert(68, 'Oct')
season2023[67:70]

67

['43-17', 'Oct', '14']

In [7]:
#separating score and month of next game
season2023.index('51-13Nov')
season2023[104] = '51-13'
season2023.insert(105, 'Nov')
season2023[104:107]

104

['51-13', 'Nov', '4']

In [8]:
#separating score and month of next game
season2023.index('27-33Nov')
season2023[117] = '27-33'
season2023.insert(118, 'Nov')
season2023[117:120]

117

['27-33', 'Nov', '11']

In [9]:
#separating score and month of next game
season2023.index('36-34Dec')
season2023[152] = '36-34'
season2023.insert(153, 'Dec')
season2023[152:155]

152

['36-34', 'Dec', '2']

In [10]:
#get length of list with data from all games
len(season2023)
season2023

165

['Aug',
 '31',
 '(Thu)',
 '7',
 'PM',
 'Away',
 'Stony',
 'Brook',
 'Stony',
 'Brook',
 'N.Y.',
 'W',
 '37-13',
 'Sept',
 '9',
 '(Sat)',
 '12',
 'p.m.',
 'Away',
 'Penn',
 'State',
 'University',
 'Park',
 'Pa.',
 'L',
 '7-63',
 'Sep',
 '16',
 '(Sat)',
 '6',
 'PM',
 'Home',
 'Saint',
 'Francis',
 '(Pa.)',
 'Newark',
 'Del.',
 '(Delaware',
 'Stadium)',
 'W',
 '42-14',
 'Sep',
 '23',
 '(Sat)',
 '6',
 'PM',
 'Home',
 'New',
 'Hampshire',
 'Newark',
 'Del.',
 '(Delaware',
 'Stadium)',
 'W',
 '29-25',
 'Oct',
 '7',
 '(Sat)',
 '3',
 'PM',
 'Home',
 'Duquesne',
 'Newark',
 'Del.',
 '(Delaware',
 'Stadium)',
 'W',
 '43-17',
 'Oct',
 '14',
 '(Sat)',
 '3',
 'PM',
 'Home',
 'North',
 'Carolina',
 'A&T',
 'Newark',
 'Del.',
 '(Delaware',
 'Stadium)',
 'W',
 '21-6',
 'Oct',
 '21',
 '(Sat)',
 '2',
 'PM',
 'Away',
 'Hampton',
 'Hampton',
 'Va.',
 'W',
 '47-3',
 'Oct',
 '28',
 '(Sat)',
 '1',
 'PM',
 'Away',
 'Towson',
 'Towson',
 'Md.',
 'W',
 '51-13',
 'Nov',
 '4',
 '(Sat)',
 '1',
 'PM',
 'Home',
 'Elon',
 'Newark',
 'Del.',
 '(Delaware',
 'Stadium)',
 'L',
 '27-33',
 'Nov',
 '11',
 '(Sat)',
 '1',
 'PM',
 'Away',
 'Campbell',
 'Buies',
 'Creek',
 'N.C.',
 'W',
 '45-7',
 'Nov',
 '18',
 '(Sat)',
 '1',
 'PM',
 'Home',
 'Villanova',
 'Newark',
 'Del.',
 '(Delaware',
 'Stadium)',
 'L',
 '7-35',
 'Nov',
 '25',
 '(Sat)',
 '2',
 'p.m.',
 'Home',
 'Lafayette',
 'TBD',
 'W',
 '36-34',
 'Dec',
 '2',
 '(Sat)',
 '9',
 'p.m.',
 'Away',
 '#2',
 'Montana',
 'Missoula',
 'Mont.',
 'L',
 '19-49']

In [11]:
#create list for Montana game
montana = season2023[-12:]
montana

['Dec',
 '2',
 '(Sat)',
 '9',
 'p.m.',
 'Away',
 '#2',
 'Montana',
 'Missoula',
 'Mont.',
 'L',
 '19-49']

In [12]:
#remove Montana game from full season list
del season2023[-12:]
season2023

['Aug',
 '31',
 '(Thu)',
 '7',
 'PM',
 'Away',
 'Stony',
 'Brook',
 'Stony',
 'Brook',
 'N.Y.',
 'W',
 '37-13',
 'Sept',
 '9',
 '(Sat)',
 '12',
 'p.m.',
 'Away',
 'Penn',
 'State',
 'University',
 'Park',
 'Pa.',
 'L',
 '7-63',
 'Sep',
 '16',
 '(Sat)',
 '6',
 'PM',
 'Home',
 'Saint',
 'Francis',
 '(Pa.)',
 'Newark',
 'Del.',
 '(Delaware',
 'Stadium)',
 'W',
 '42-14',
 'Sep',
 '23',
 '(Sat)',
 '6',
 'PM',
 'Home',
 'New',
 'Hampshire',
 'Newark',
 'Del.',
 '(Delaware',
 'Stadium)',
 'W',
 '29-25',
 'Oct',
 '7',
 '(Sat)',
 '3',
 'PM',
 'Home',
 'Duquesne',
 'Newark',
 'Del.',
 '(Delaware',
 'Stadium)',
 'W',
 '43-17',
 'Oct',
 '14',
 '(Sat)',
 '3',
 'PM',
 'Home',
 'North',
 'Carolina',
 'A&T',
 'Newark',
 'Del.',
 '(Delaware',
 'Stadium)',
 'W',
 '21-6',
 'Oct',
 '21',
 '(Sat)',
 '2',
 'PM',
 'Away',
 'Hampton',
 'Hampton',
 'Va.',
 'W',
 '47-3',
 'Oct',
 '28',
 '(Sat)',
 '1',
 'PM',
 'Away',
 'Towson',
 'Towson',
 'Md.',
 'W',
 '51-13',
 'Nov',
 '4',
 '(Sat)',
 '1',
 'PM',
 'Home',
 'Elon',
 'Newark',
 'Del.',
 '(Delaware',
 'Stadium)',
 'L',
 '27-33',
 'Nov',
 '11',
 '(Sat)',
 '1',
 'PM',
 'Away',
 'Campbell',
 'Buies',
 'Creek',
 'N.C.',
 'W',
 '45-7',
 'Nov',
 '18',
 '(Sat)',
 '1',
 'PM',
 'Home',
 'Villanova',
 'Newark',
 'Del.',
 '(Delaware',
 'Stadium)',
 'L',
 '7-35',
 'Nov',
 '25',
 '(Sat)',
 '2',
 'p.m.',
 'Home',
 'Lafayette',
 'TBD',
 'W',
 '36-34']

In [13]:
#create list for Lafayette game
lafayette = season2023[-10:]
lafayette

['Nov', '25', '(Sat)', '2', 'p.m.', 'Home', 'Lafayette', 'TBD', 'W', '36-34']

In [14]:
#remove Lafayette game from full season list
del season2023[-10:]
season2023

['Aug',
 '31',
 '(Thu)',
 '7',
 'PM',
 'Away',
 'Stony',
 'Brook',
 'Stony',
 'Brook',
 'N.Y.',
 'W',
 '37-13',
 'Sept',
 '9',
 '(Sat)',
 '12',
 'p.m.',
 'Away',
 'Penn',
 'State',
 'University',
 'Park',
 'Pa.',
 'L',
 '7-63',
 'Sep',
 '16',
 '(Sat)',
 '6',
 'PM',
 'Home',
 'Saint',
 'Francis',
 '(Pa.)',
 'Newark',
 'Del.',
 '(Delaware',
 'Stadium)',
 'W',
 '42-14',
 'Sep',
 '23',
 '(Sat)',
 '6',
 'PM',
 'Home',
 'New',
 'Hampshire',
 'Newark',
 'Del.',
 '(Delaware',
 'Stadium)',
 'W',
 '29-25',
 'Oct',
 '7',
 '(Sat)',
 '3',
 'PM',
 'Home',
 'Duquesne',
 'Newark',
 'Del.',
 '(Delaware',
 'Stadium)',
 'W',
 '43-17',
 'Oct',
 '14',
 '(Sat)',
 '3',
 'PM',
 'Home',
 'North',
 'Carolina',
 'A&T',
 'Newark',
 'Del.',
 '(Delaware',
 'Stadium)',
 'W',
 '21-6',
 'Oct',
 '21',
 '(Sat)',
 '2',
 'PM',
 'Away',
 'Hampton',
 'Hampton',
 'Va.',
 'W',
 '47-3',
 'Oct',
 '28',
 '(Sat)',
 '1',
 'PM',
 'Away',
 'Towson',
 'Towson',
 'Md.',
 'W',
 '51-13',
 'Nov',
 '4',
 '(Sat)',
 '1',
 'PM',
 'Home',
 'Elon',
 'Newark',
 'Del.',
 '(Delaware',
 'Stadium)',
 'L',
 '27-33',
 'Nov',
 '11',
 '(Sat)',
 '1',
 'PM',
 'Away',
 'Campbell',
 'Buies',
 'Creek',
 'N.C.',
 'W',
 '45-7',
 'Nov',
 '18',
 '(Sat)',
 '1',
 'PM',
 'Home',
 'Villanova',
 'Newark',
 'Del.',
 '(Delaware',
 'Stadium)',
 'L',
 '7-35']

In [15]:
#create list for Villanova game
villanova = season2023[-13:]
villanova

['Nov',
 '18',
 '(Sat)',
 '1',
 'PM',
 'Home',
 'Villanova',
 'Newark',
 'Del.',
 '(Delaware',
 'Stadium)',
 'L',
 '7-35']

In [16]:
#remove Villanova game from full season list
del season2023[-13:]
season2023

['Aug',
 '31',
 '(Thu)',
 '7',
 'PM',
 'Away',
 'Stony',
 'Brook',
 'Stony',
 'Brook',
 'N.Y.',
 'W',
 '37-13',
 'Sept',
 '9',
 '(Sat)',
 '12',
 'p.m.',
 'Away',
 'Penn',
 'State',
 'University',
 'Park',
 'Pa.',
 'L',
 '7-63',
 'Sep',
 '16',
 '(Sat)',
 '6',
 'PM',
 'Home',
 'Saint',
 'Francis',
 '(Pa.)',
 'Newark',
 'Del.',
 '(Delaware',
 'Stadium)',
 'W',
 '42-14',
 'Sep',
 '23',
 '(Sat)',
 '6',
 'PM',
 'Home',
 'New',
 'Hampshire',
 'Newark',
 'Del.',
 '(Delaware',
 'Stadium)',
 'W',
 '29-25',
 'Oct',
 '7',
 '(Sat)',
 '3',
 'PM',
 'Home',
 'Duquesne',
 'Newark',
 'Del.',
 '(Delaware',
 'Stadium)',
 'W',
 '43-17',
 'Oct',
 '14',
 '(Sat)',
 '3',
 'PM',
 'Home',
 'North',
 'Carolina',
 'A&T',
 'Newark',
 'Del.',
 '(Delaware',
 'Stadium)',
 'W',
 '21-6',
 'Oct',
 '21',
 '(Sat)',
 '2',
 'PM',
 'Away',
 'Hampton',
 'Hampton',
 'Va.',
 'W',
 '47-3',
 'Oct',
 '28',
 '(Sat)',
 '1',
 'PM',
 'Away',
 'Towson',
 'Towson',
 'Md.',
 'W',
 '51-13',
 'Nov',
 '4',
 '(Sat)',
 '1',
 'PM',
 'Home',
 'Elon',
 'Newark',
 'Del.',
 '(Delaware',
 'Stadium)',
 'L',
 '27-33',
 'Nov',
 '11',
 '(Sat)',
 '1',
 'PM',
 'Away',
 'Campbell',
 'Buies',
 'Creek',
 'N.C.',
 'W',
 '45-7']

In [17]:
#create list for Campbell game
campbell = season2023[-12:]
campbell

['Nov',
 '11',
 '(Sat)',
 '1',
 'PM',
 'Away',
 'Campbell',
 'Buies',
 'Creek',
 'N.C.',
 'W',
 '45-7']

In [18]:
#remove Campbell game from full season list
del season2023[-12:]
season2023

['Aug',
 '31',
 '(Thu)',
 '7',
 'PM',
 'Away',
 'Stony',
 'Brook',
 'Stony',
 'Brook',
 'N.Y.',
 'W',
 '37-13',
 'Sept',
 '9',
 '(Sat)',
 '12',
 'p.m.',
 'Away',
 'Penn',
 'State',
 'University',
 'Park',
 'Pa.',
 'L',
 '7-63',
 'Sep',
 '16',
 '(Sat)',
 '6',
 'PM',
 'Home',
 'Saint',
 'Francis',
 '(Pa.)',
 'Newark',
 'Del.',
 '(Delaware',
 'Stadium)',
 'W',
 '42-14',
 'Sep',
 '23',
 '(Sat)',
 '6',
 'PM',
 'Home',
 'New',
 'Hampshire',
 'Newark',
 'Del.',
 '(Delaware',
 'Stadium)',
 'W',
 '29-25',
 'Oct',
 '7',
 '(Sat)',
 '3',
 'PM',
 'Home',
 'Duquesne',
 'Newark',
 'Del.',
 '(Delaware',
 'Stadium)',
 'W',
 '43-17',
 'Oct',
 '14',
 '(Sat)',
 '3',
 'PM',
 'Home',
 'North',
 'Carolina',
 'A&T',
 'Newark',
 'Del.',
 '(Delaware',
 'Stadium)',
 'W',
 '21-6',
 'Oct',
 '21',
 '(Sat)',
 '2',
 'PM',
 'Away',
 'Hampton',
 'Hampton',
 'Va.',
 'W',
 '47-3',
 'Oct',
 '28',
 '(Sat)',
 '1',
 'PM',
 'Away',
 'Towson',
 'Towson',
 'Md.',
 'W',
 '51-13',
 'Nov',
 '4',
 '(Sat)',
 '1',
 'PM',
 'Home',
 'Elon',
 'Newark',
 'Del.',
 '(Delaware',
 'Stadium)',
 'L',
 '27-33']

In [19]:
#create list for Elon game
elon = season2023[-13:]
elon

['Nov',
 '4',
 '(Sat)',
 '1',
 'PM',
 'Home',
 'Elon',
 'Newark',
 'Del.',
 '(Delaware',
 'Stadium)',
 'L',
 '27-33']

In [20]:
#remove Elon game from full season list
del season2023[-13:]
season2023

['Aug',
 '31',
 '(Thu)',
 '7',
 'PM',
 'Away',
 'Stony',
 'Brook',
 'Stony',
 'Brook',
 'N.Y.',
 'W',
 '37-13',
 'Sept',
 '9',
 '(Sat)',
 '12',
 'p.m.',
 'Away',
 'Penn',
 'State',
 'University',
 'Park',
 'Pa.',
 'L',
 '7-63',
 'Sep',
 '16',
 '(Sat)',
 '6',
 'PM',
 'Home',
 'Saint',
 'Francis',
 '(Pa.)',
 'Newark',
 'Del.',
 '(Delaware',
 'Stadium)',
 'W',
 '42-14',
 'Sep',
 '23',
 '(Sat)',
 '6',
 'PM',
 'Home',
 'New',
 'Hampshire',
 'Newark',
 'Del.',
 '(Delaware',
 'Stadium)',
 'W',
 '29-25',
 'Oct',
 '7',
 '(Sat)',
 '3',
 'PM',
 'Home',
 'Duquesne',
 'Newark',
 'Del.',
 '(Delaware',
 'Stadium)',
 'W',
 '43-17',
 'Oct',
 '14',
 '(Sat)',
 '3',
 'PM',
 'Home',
 'North',
 'Carolina',
 'A&T',
 'Newark',
 'Del.',
 '(Delaware',
 'Stadium)',
 'W',
 '21-6',
 'Oct',
 '21',
 '(Sat)',
 '2',
 'PM',
 'Away',
 'Hampton',
 'Hampton',
 'Va.',
 'W',
 '47-3',
 'Oct',
 '28',
 '(Sat)',
 '1',
 'PM',
 'Away',
 'Towson',
 'Towson',
 'Md.',
 'W',
 '51-13']

In [21]:
#create list for Towson game
towson = season2023[-11:]
towson

['Oct',
 '28',
 '(Sat)',
 '1',
 'PM',
 'Away',
 'Towson',
 'Towson',
 'Md.',
 'W',
 '51-13']

In [22]:
#remove Towson game from full season list
del season2023[-11:]
season2023

['Aug',
 '31',
 '(Thu)',
 '7',
 'PM',
 'Away',
 'Stony',
 'Brook',
 'Stony',
 'Brook',
 'N.Y.',
 'W',
 '37-13',
 'Sept',
 '9',
 '(Sat)',
 '12',
 'p.m.',
 'Away',
 'Penn',
 'State',
 'University',
 'Park',
 'Pa.',
 'L',
 '7-63',
 'Sep',
 '16',
 '(Sat)',
 '6',
 'PM',
 'Home',
 'Saint',
 'Francis',
 '(Pa.)',
 'Newark',
 'Del.',
 '(Delaware',
 'Stadium)',
 'W',
 '42-14',
 'Sep',
 '23',
 '(Sat)',
 '6',
 'PM',
 'Home',
 'New',
 'Hampshire',
 'Newark',
 'Del.',
 '(Delaware',
 'Stadium)',
 'W',
 '29-25',
 'Oct',
 '7',
 '(Sat)',
 '3',
 'PM',
 'Home',
 'Duquesne',
 'Newark',
 'Del.',
 '(Delaware',
 'Stadium)',
 'W',
 '43-17',
 'Oct',
 '14',
 '(Sat)',
 '3',
 'PM',
 'Home',
 'North',
 'Carolina',
 'A&T',
 'Newark',
 'Del.',
 '(Delaware',
 'Stadium)',
 'W',
 '21-6',
 'Oct',
 '21',
 '(Sat)',
 '2',
 'PM',
 'Away',
 'Hampton',
 'Hampton',
 'Va.',
 'W',
 '47-3']

In [23]:
#create list for Hampton game
hampton = season2023[-11:]
hampton

['Oct',
 '21',
 '(Sat)',
 '2',
 'PM',
 'Away',
 'Hampton',
 'Hampton',
 'Va.',
 'W',
 '47-3']

In [24]:
#remove Hampton game from full season list
del season2023[-11:]
season2023

['Aug',
 '31',
 '(Thu)',
 '7',
 'PM',
 'Away',
 'Stony',
 'Brook',
 'Stony',
 'Brook',
 'N.Y.',
 'W',
 '37-13',
 'Sept',
 '9',
 '(Sat)',
 '12',
 'p.m.',
 'Away',
 'Penn',
 'State',
 'University',
 'Park',
 'Pa.',
 'L',
 '7-63',
 'Sep',
 '16',
 '(Sat)',
 '6',
 'PM',
 'Home',
 'Saint',
 'Francis',
 '(Pa.)',
 'Newark',
 'Del.',
 '(Delaware',
 'Stadium)',
 'W',
 '42-14',
 'Sep',
 '23',
 '(Sat)',
 '6',
 'PM',
 'Home',
 'New',
 'Hampshire',
 'Newark',
 'Del.',
 '(Delaware',
 'Stadium)',
 'W',
 '29-25',
 'Oct',
 '7',
 '(Sat)',
 '3',
 'PM',
 'Home',
 'Duquesne',
 'Newark',
 'Del.',
 '(Delaware',
 'Stadium)',
 'W',
 '43-17',
 'Oct',
 '14',
 '(Sat)',
 '3',
 'PM',
 'Home',
 'North',
 'Carolina',
 'A&T',
 'Newark',
 'Del.',
 '(Delaware',
 'Stadium)',
 'W',
 '21-6']

In [25]:
#create list for North Carolina A&T game
ncat = season2023[-15:]
ncat

['Oct',
 '14',
 '(Sat)',
 '3',
 'PM',
 'Home',
 'North',
 'Carolina',
 'A&T',
 'Newark',
 'Del.',
 '(Delaware',
 'Stadium)',
 'W',
 '21-6']

In [26]:
#remove North Carolina A&T game from full season list
del season2023[-15:]
season2023

['Aug',
 '31',
 '(Thu)',
 '7',
 'PM',
 'Away',
 'Stony',
 'Brook',
 'Stony',
 'Brook',
 'N.Y.',
 'W',
 '37-13',
 'Sept',
 '9',
 '(Sat)',
 '12',
 'p.m.',
 'Away',
 'Penn',
 'State',
 'University',
 'Park',
 'Pa.',
 'L',
 '7-63',
 'Sep',
 '16',
 '(Sat)',
 '6',
 'PM',
 'Home',
 'Saint',
 'Francis',
 '(Pa.)',
 'Newark',
 'Del.',
 '(Delaware',
 'Stadium)',
 'W',
 '42-14',
 'Sep',
 '23',
 '(Sat)',
 '6',
 'PM',
 'Home',
 'New',
 'Hampshire',
 'Newark',
 'Del.',
 '(Delaware',
 'Stadium)',
 'W',
 '29-25',
 'Oct',
 '7',
 '(Sat)',
 '3',
 'PM',
 'Home',
 'Duquesne',
 'Newark',
 'Del.',
 '(Delaware',
 'Stadium)',
 'W',
 '43-17']

In [27]:
#create list for Duquesne game
duquesne = season2023[-13:]
duquesne

['Oct',
 '7',
 '(Sat)',
 '3',
 'PM',
 'Home',
 'Duquesne',
 'Newark',
 'Del.',
 '(Delaware',
 'Stadium)',
 'W',
 '43-17']

In [28]:
#Remove Duquesne game from full seaason list
del season2023[-13:]
season2023

['Aug',
 '31',
 '(Thu)',
 '7',
 'PM',
 'Away',
 'Stony',
 'Brook',
 'Stony',
 'Brook',
 'N.Y.',
 'W',
 '37-13',
 'Sept',
 '9',
 '(Sat)',
 '12',
 'p.m.',
 'Away',
 'Penn',
 'State',
 'University',
 'Park',
 'Pa.',
 'L',
 '7-63',
 'Sep',
 '16',
 '(Sat)',
 '6',
 'PM',
 'Home',
 'Saint',
 'Francis',
 '(Pa.)',
 'Newark',
 'Del.',
 '(Delaware',
 'Stadium)',
 'W',
 '42-14',
 'Sep',
 '23',
 '(Sat)',
 '6',
 'PM',
 'Home',
 'New',
 'Hampshire',
 'Newark',
 'Del.',
 '(Delaware',
 'Stadium)',
 'W',
 '29-25']

In [29]:
#create list for New Hampshire game
newhampshire = season2023[-14:]
newhampshire

['Sep',
 '23',
 '(Sat)',
 '6',
 'PM',
 'Home',
 'New',
 'Hampshire',
 'Newark',
 'Del.',
 '(Delaware',
 'Stadium)',
 'W',
 '29-25']

In [30]:
#remove New Hampshire game from full season list
del season2023[-14:]
season2023

['Aug',
 '31',
 '(Thu)',
 '7',
 'PM',
 'Away',
 'Stony',
 'Brook',
 'Stony',
 'Brook',
 'N.Y.',
 'W',
 '37-13',
 'Sept',
 '9',
 '(Sat)',
 '12',
 'p.m.',
 'Away',
 'Penn',
 'State',
 'University',
 'Park',
 'Pa.',
 'L',
 '7-63',
 'Sep',
 '16',
 '(Sat)',
 '6',
 'PM',
 'Home',
 'Saint',
 'Francis',
 '(Pa.)',
 'Newark',
 'Del.',
 '(Delaware',
 'Stadium)',
 'W',
 '42-14']

In [31]:
#create list for Saint Francis game
saintfrancis = season2023[-15:]
saintfrancis

['Sep',
 '16',
 '(Sat)',
 '6',
 'PM',
 'Home',
 'Saint',
 'Francis',
 '(Pa.)',
 'Newark',
 'Del.',
 '(Delaware',
 'Stadium)',
 'W',
 '42-14']

In [32]:
#remove Saint Francis game from full season list
del season2023[-15:]
season2023

['Aug',
 '31',
 '(Thu)',
 '7',
 'PM',
 'Away',
 'Stony',
 'Brook',
 'Stony',
 'Brook',
 'N.Y.',
 'W',
 '37-13',
 'Sept',
 '9',
 '(Sat)',
 '12',
 'p.m.',
 'Away',
 'Penn',
 'State',
 'University',
 'Park',
 'Pa.',
 'L',
 '7-63']

In [33]:
#create list for Penn State game
pennstate = season2023[-13:]
pennstate

['Sept',
 '9',
 '(Sat)',
 '12',
 'p.m.',
 'Away',
 'Penn',
 'State',
 'University',
 'Park',
 'Pa.',
 'L',
 '7-63']

In [34]:
#remove Penn State game from full season list
del season2023[-13:]
season2023

['Aug',
 '31',
 '(Thu)',
 '7',
 'PM',
 'Away',
 'Stony',
 'Brook',
 'Stony',
 'Brook',
 'N.Y.',
 'W',
 '37-13']

In [35]:
#create list for Stony Brook game
stonybrook = season2023
stonybrook

['Aug',
 '31',
 '(Thu)',
 '7',
 'PM',
 'Away',
 'Stony',
 'Brook',
 'Stony',
 'Brook',
 'N.Y.',
 'W',
 '37-13']

In [36]:
#get length of list for each game
len(stonybrook)
len(pennstate)
len(saintfrancis)
len(newhampshire)
len(duquesne)
len(ncat)
len(hampton)
len(towson)
len(elon)
len(campbell)
len(villanova)
len(lafayette)
len(montana)

13

13

15

14

13

15

11

11

13

12

13

10

12

In [37]:
#list for Stony Brook game
stonybrook

['Aug',
 '31',
 '(Thu)',
 '7',
 'PM',
 'Away',
 'Stony',
 'Brook',
 'Stony',
 'Brook',
 'N.Y.',
 'W',
 '37-13']

In [38]:
#clean up Stony Brook list
stonybrook.insert(2,'2023') 
stonybrook[4:6] = [' '.join(stonybrook[4:6])]
stonybrook[6:8] = [' '.join(stonybrook[6:8])]
stonybrook[7:9] = [' '.join(stonybrook[7:9])]
stonybrook[-1:] = stonybrook[-1].split('-')
len(stonybrook)
stonybrook

12

['Aug',
 '31',
 '2023',
 '(Thu)',
 '7 PM',
 'Away',
 'Stony Brook',
 'Stony Brook',
 'N.Y.',
 'W',
 '37',
 '13']

In [39]:
#list for Penn State game
pennstate

['Sept',
 '9',
 '(Sat)',
 '12',
 'p.m.',
 'Away',
 'Penn',
 'State',
 'University',
 'Park',
 'Pa.',
 'L',
 '7-63']

In [40]:
#clean up Penn State list
pennstate.insert(2,'2023')
pennstate[4:6 ]= [' '.join(pennstate[4:6])]
pennstate[6:8] = [' '.join(pennstate[6:8])]
pennstate[7:9] = [' '.join(pennstate[7:9])]
pennstate[-1:] = pennstate[-1].split('-')
len(pennstate)
pennstate

12

['Sept',
 '9',
 '2023',
 '(Sat)',
 '12 p.m.',
 'Away',
 'Penn State',
 'University Park',
 'Pa.',
 'L',
 '7',
 '63']

In [41]:
#Saint Francis game
saintfrancis

['Sep',
 '16',
 '(Sat)',
 '6',
 'PM',
 'Home',
 'Saint',
 'Francis',
 '(Pa.)',
 'Newark',
 'Del.',
 '(Delaware',
 'Stadium)',
 'W',
 '42-14']

In [42]:
#clean up Saint Francis list
del saintfrancis[-4:-2]
saintfrancis.insert(2, '2023')
saintfrancis[4:6] = [' '.join(saintfrancis[4:6])]
saintfrancis[6:9]= [' '.join(saintfrancis[6:9])]
saintfrancis[-1:] = saintfrancis[-1].split('-')
len(saintfrancis)
saintfrancis

12

['Sep',
 '16',
 '2023',
 '(Sat)',
 '6 PM',
 'Home',
 'Saint Francis (Pa.)',
 'Newark',
 'Del.',
 'W',
 '42',
 '14']

In [43]:
#New Hampshire game
newhampshire

['Sep',
 '23',
 '(Sat)',
 '6',
 'PM',
 'Home',
 'New',
 'Hampshire',
 'Newark',
 'Del.',
 '(Delaware',
 'Stadium)',
 'W',
 '29-25']

In [44]:
#clean up New Hampshire list
del newhampshire[-4:-2]
newhampshire.insert(2, '2023')
newhampshire[4:6] = [' '.join(newhampshire[4:6])]
newhampshire[6:8 ]= [' '.join(newhampshire[6:8])]
newhampshire[-1:] = newhampshire[-1].split('-')
len(newhampshire)
newhampshire

12

['Sep',
 '23',
 '2023',
 '(Sat)',
 '6 PM',
 'Home',
 'New Hampshire',
 'Newark',
 'Del.',
 'W',
 '29',
 '25']

In [45]:
#Duquesne game
duquesne

['Oct',
 '7',
 '(Sat)',
 '3',
 'PM',
 'Home',
 'Duquesne',
 'Newark',
 'Del.',
 '(Delaware',
 'Stadium)',
 'W',
 '43-17']

In [46]:
#clean up Duquesne list
del duquesne[-4:-2]
duquesne.insert(2, '2023')
duquesne[4:6] = [' '.join(duquesne[4:6])]
duquesne[-1:] = duquesne[-1].split('-')
len(duquesne)
duquesne

12

['Oct',
 '7',
 '2023',
 '(Sat)',
 '3 PM',
 'Home',
 'Duquesne',
 'Newark',
 'Del.',
 'W',
 '43',
 '17']

In [47]:
#North Carolina A&T game
ncat

['Oct',
 '14',
 '(Sat)',
 '3',
 'PM',
 'Home',
 'North',
 'Carolina',
 'A&T',
 'Newark',
 'Del.',
 '(Delaware',
 'Stadium)',
 'W',
 '21-6']

In [48]:
#clean up North Carolina A&T list
del ncat[-4:-2]
ncat.insert(2,'2023')
ncat[4:6] = [' '.join(ncat[4:6])]
ncat[6:9] = [' '.join(ncat[6:9])]
ncat[-1:] = ncat[-1].split('-')
len(ncat)
ncat

12

['Oct',
 '14',
 '2023',
 '(Sat)',
 '3 PM',
 'Home',
 'North Carolina A&T',
 'Newark',
 'Del.',
 'W',
 '21',
 '6']

In [49]:
#Hampton game
hampton

['Oct',
 '21',
 '(Sat)',
 '2',
 'PM',
 'Away',
 'Hampton',
 'Hampton',
 'Va.',
 'W',
 '47-3']

In [50]:
#clean up hampton list
hampton.insert(2,'2023')
hampton[4:6] = [' '.join(hampton[4:6])]
hampton[-1:] = hampton[-1].split('-')
len(hampton)
hampton

12

['Oct',
 '21',
 '2023',
 '(Sat)',
 '2 PM',
 'Away',
 'Hampton',
 'Hampton',
 'Va.',
 'W',
 '47',
 '3']

In [51]:
#Towson game
towson

['Oct',
 '28',
 '(Sat)',
 '1',
 'PM',
 'Away',
 'Towson',
 'Towson',
 'Md.',
 'W',
 '51-13']

In [52]:
#clean up Towson list
towson.insert(2,'2023')
towson[4:6] = [' '.join(towson[4:6])]
towson[-1:] = towson[-1].split('-')
len(towson)
towson

12

['Oct',
 '28',
 '2023',
 '(Sat)',
 '1 PM',
 'Away',
 'Towson',
 'Towson',
 'Md.',
 'W',
 '51',
 '13']

In [53]:
#Elon game
elon

['Nov',
 '4',
 '(Sat)',
 '1',
 'PM',
 'Home',
 'Elon',
 'Newark',
 'Del.',
 '(Delaware',
 'Stadium)',
 'L',
 '27-33']

In [54]:
#clean up Elon list
del elon[-4:-2]
elon.insert(2,'2023')
elon[4:6] = [' '.join(elon[4:6])]
elon[-1:] = elon[-1].split('-')
len(elon)
elon

12

['Nov',
 '4',
 '2023',
 '(Sat)',
 '1 PM',
 'Home',
 'Elon',
 'Newark',
 'Del.',
 'L',
 '27',
 '33']

In [55]:
#Campbell game
campbell

['Nov',
 '11',
 '(Sat)',
 '1',
 'PM',
 'Away',
 'Campbell',
 'Buies',
 'Creek',
 'N.C.',
 'W',
 '45-7']

In [56]:
#clean up Campbell list
campbell.insert(2, '2023')
campbell[4:6] = [' '.join(campbell[4:6])] 
campbell[7:9] = [' '.join(campbell[7:9])]
campbell[-1:] = campbell[-1].split('-')
len(campbell)
campbell

12

['Nov',
 '11',
 '2023',
 '(Sat)',
 '1 PM',
 'Away',
 'Campbell',
 'Buies Creek',
 'N.C.',
 'W',
 '45',
 '7']

In [57]:
#Villanova game
villanova

['Nov',
 '18',
 '(Sat)',
 '1',
 'PM',
 'Home',
 'Villanova',
 'Newark',
 'Del.',
 '(Delaware',
 'Stadium)',
 'L',
 '7-35']

In [58]:
#clean up Villanova list
del villanova[-4:-2]
villanova.insert(2, '2023')
villanova[4:6] = [' '.join(villanova[4:6])]
villanova[-1:] = villanova[-1].split('-')
len(villanova)
villanova

12

['Nov',
 '18',
 '2023',
 '(Sat)',
 '1 PM',
 'Home',
 'Villanova',
 'Newark',
 'Del.',
 'L',
 '7',
 '35']

In [59]:
#Lafayette game
lafayette

['Nov', '25', '(Sat)', '2', 'p.m.', 'Home', 'Lafayette', 'TBD', 'W', '36-34']

In [60]:
#clean up Lafayette list
lafayette.insert(2, '2023')
lafayette[4:6] = [' '.join(lafayette[4:6])]
lafayette[7] = 'Newark'
lafayette.insert(8, 'Del.')
lafayette[-1:] = lafayette[-1].split('-')
len(lafayette)
lafayette

12

['Nov',
 '25',
 '2023',
 '(Sat)',
 '2 p.m.',
 'Home',
 'Lafayette',
 'Newark',
 'Del.',
 'W',
 '36',
 '34']

In [61]:
#Montana game
montana

['Dec',
 '2',
 '(Sat)',
 '9',
 'p.m.',
 'Away',
 '#2',
 'Montana',
 'Missoula',
 'Mont.',
 'L',
 '19-49']

In [62]:
#clean up Montana list
del montana[6]
montana.insert(2,'2023')
montana[4:6] = [' '.join(montana[4:6])]
montana[-1:] = montana[-1].split('-')
len(montana)
montana

12

['Dec',
 '2',
 '2023',
 '(Sat)',
 '9 p.m.',
 'Away',
 'Montana',
 'Missoula',
 'Mont.',
 'L',
 '19',
 '49']

In [63]:
#get lengths of cleaned lists to make sure they are all equal length
len(stonybrook)
len(pennstate)
len(saintfrancis)
len(newhampshire)
len(duquesne)
len(ncat)
len(hampton)
len(towson)
len(elon)
len(campbell)
len(villanova)
len(lafayette)
len(montana)

12

12

12

12

12

12

12

12

12

12

12

12

12

In [64]:
#create single list of all cleaned lists
fulldata = stonybrook + pennstate + saintfrancis + newhampshire + duquesne + ncat + hampton + towson + elon + campbell + villanova + lafayette + montana
len(fulldata)
fulldata[:12]

156

['Aug',
 '31',
 '2023',
 '(Thu)',
 '7 PM',
 'Away',
 'Stony Brook',
 'Stony Brook',
 'N.Y.',
 'W',
 '37',
 '13']

In [65]:
#create list of lists with each game list being an element in the list
list_of_lists = [fulldata[i:i+12] for i in range (0,len(fulldata),12)]
list_of_lists[:2]

[['Aug',
  '31',
  '2023',
  '(Thu)',
  '7 PM',
  'Away',
  'Stony Brook',
  'Stony Brook',
  'N.Y.',
  'W',
  '37',
  '13'],
 ['Sept',
  '9',
  '2023',
  '(Sat)',
  '12 p.m.',
  'Away',
  'Penn State',
  'University Park',
  'Pa.',
  'L',
  '7',
  '63']]

In [66]:
#create data frame
#use lists of lists as data and create column names
df = pd.DataFrame(list_of_lists, columns=['month', 'day','year', 'day of week', 'time', 'homeaway', 
                                          'opponent', 'city', 'state', 'winloss', 'UDscore', 'oppscore'])
df

,month,day,year,day of week,time,homeaway,opponent,city,state,winloss,UDscore,oppscore
0,Aug,31,2023,(Thu),7 PM,Away,Stony Brook,Stony Brook,N.Y.,W,37,13
1,Sept,9,2023,(Sat),12 p.m.,Away,Penn State,University Park,Pa.,L,7,63
2,Sep,16,2023,(Sat),6 PM,Home,Saint Francis (Pa.),Newark,Del.,W,42,14
3,Sep,23,2023,(Sat),6 PM,Home,New Hampshire,Newark,Del.,W,29,25
4,Oct,7,2023,(Sat),3 PM,Home,Duquesne,Newark,Del.,W,43,17
5,Oct,14,2023,(Sat),3 PM,Home,North Carolina A&T,Newark,Del.,W,21,6
6,Oct,21,2023,(Sat),2 PM,Away,Hampton,Hampton,Va.,W,47,3
7,Oct,28,2023,(Sat),1 PM,Away,Towson,Towson,Md.,W,51,13
8,Nov,4,2023,(Sat),1 PM,Home,Elon,Newark,Del.,L,27,33
9,Nov,11,2023,(Sat),1 PM,Away,Campbell,Buies Creek,N.C.,W,45,7
10,Nov,18,2023,(Sat),1 PM,Home,Villanova,Newark,Del.,L,7,35
11,Nov,25,2023,(Sat),2 p.m.,Home,Lafayette,Newark,Del.,W,36,34
12,Dec,2,2023,(Sat),9 p.m.,Away,Montana,Missoula,Mont.,L,19,49

In [67]:
#get data types for each column
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   month        13 non-null     object
 1   day          13 non-null     object
 2   year         13 non-null     object
 3   day of week  13 non-null     object
 4   time         13 non-null     object
 5   homeaway     13 non-null     object
 6   opponent     13 non-null     object
 7   city         13 non-null     object
 8   state        13 non-null     object
 9   winloss      13 non-null     object
 10  UDscore      13 non-null     object
 11  oppscore     13 non-null     object
dtypes: object(12)
memory usage: 1.3+ KB

In [68]:
#make UDscore and oppscore columns numeric
df['UDscore']=pd.to_numeric(df['UDscore'])
df['oppscore']=pd.to_numeric(df['oppscore'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   month        13 non-null     object
 1   day          13 non-null     object
 2   year         13 non-null     object
 3   day of week  13 non-null     object
 4   time         13 non-null     object
 5   homeaway     13 non-null     object
 6   opponent     13 non-null     object
 7   city         13 non-null     object
 8   state        13 non-null     object
 9   winloss      13 non-null     object
 10  UDscore      13 non-null     int64
 11  oppscore     13 non-null     int64
dtypes: int64(2), object(10)
memory usage: 1.3+ KB

In [69]:
#clean up month column
df['month'].unique()
df['month']=df['month'].replace('Aug', '08')
df['month']=df['month'].replace(['Sept','Sep'], '08')
df['month']=df['month'].replace('Oct', '10')
df['month']=df['month'].replace('Nov', '11')
df['month']=df['month'].replace('Dec', '12')
df

array(['Aug', 'Sept', 'Sep', 'Oct', 'Nov', 'Dec'], dtype=object)

,month,day,year,day of week,time,homeaway,opponent,city,state,winloss,UDscore,oppscore
0,08,31,2023,(Thu),7 PM,Away,Stony Brook,Stony Brook,N.Y.,W,37,13
1,08,9,2023,(Sat),12 p.m.,Away,Penn State,University Park,Pa.,L,7,63
2,08,16,2023,(Sat),6 PM,Home,Saint Francis (Pa.),Newark,Del.,W,42,14
3,08,23,2023,(Sat),6 PM,Home,New Hampshire,Newark,Del.,W,29,25
4,10,7,2023,(Sat),3 PM,Home,Duquesne,Newark,Del.,W,43,17
5,10,14,2023,(Sat),3 PM,Home,North Carolina A&T,Newark,Del.,W,21,6
6,10,21,2023,(Sat),2 PM,Away,Hampton,Hampton,Va.,W,47,3
7,10,28,2023,(Sat),1 PM,Away,Towson,Towson,Md.,W,51,13
8,11,4,2023,(Sat),1 PM,Home,Elon,Newark,Del.,L,27,33
9,11,11,2023,(Sat),1 PM,Away,Campbell,Buies Creek,N.C.,W,45,7
10,11,18,2023,(Sat),1 PM,Home,Villanova,Newark,Del.,L,7,35
11,11,25,2023,(Sat),2 p.m.,Home,Lafayette,Newark,Del.,W,36,34
12,12,2,2023,(Sat),9 p.m.,Away,Montana,Missoula,Mont.,L,19,49

In [71]:
#clean up day column
df['day'].unique()
df['day'] = df['day'].replace('9', '09')
df['day'] = df['day'].replace('7', '07')
df['day'] = df['day'].replace('4', '04')
df['day'] = df['day'].replace('2', '02')
df

array(['31', '9', '16', '23', '7', '14', '21', '28', '4', '11', '18',
       '25', '2'], dtype=object)

,month,day,year,day of week,time,homeaway,opponent,city,state,winloss,UDscore,oppscore
0,08,31,2023,(Thu),7 PM,Away,Stony Brook,Stony Brook,N.Y.,W,37,13
1,08,09,2023,(Sat),12 p.m.,Away,Penn State,University Park,Pa.,L,7,63
2,08,16,2023,(Sat),6 PM,Home,Saint Francis (Pa.),Newark,Del.,W,42,14
3,08,23,2023,(Sat),6 PM,Home,New Hampshire,Newark,Del.,W,29,25
4,10,07,2023,(Sat),3 PM,Home,Duquesne,Newark,Del.,W,43,17
5,10,14,2023,(Sat),3 PM,Home,North Carolina A&T,Newark,Del.,W,21,6
6,10,21,2023,(Sat),2 PM,Away,Hampton,Hampton,Va.,W,47,3
7,10,28,2023,(Sat),1 PM,Away,Towson,Towson,Md.,W,51,13
8,11,04,2023,(Sat),1 PM,Home,Elon,Newark,Del.,L,27,33
9,11,11,2023,(Sat),1 PM,Away,Campbell,Buies Creek,N.C.,W,45,7
10,11,18,2023,(Sat),1 PM,Home,Villanova,Newark,Del.,L,7,35
11,11,25,2023,(Sat),2 p.m.,Home,Lafayette,Newark,Del.,W,36,34
12,12,02,2023,(Sat),9 p.m.,Away,Montana,Missoula,Mont.,L,19,49

In [73]:
#clean up day of the week column
df['day of week'].unique()
df['day of week'] = df['day of week'].replace('(Thu)', 'Thursday')
df['day of week'] = df['day of week'].replace('(Sat)', 'Saturday')
df

array(['(Thu)', '(Sat)'], dtype=object)

,month,day,year,day of week,time,homeaway,opponent,city,state,winloss,UDscore,oppscore
0,08,31,2023,Thursday,7 PM,Away,Stony Brook,Stony Brook,N.Y.,W,37,13
1,08,09,2023,Saturday,12 p.m.,Away,Penn State,University Park,Pa.,L,7,63
2,08,16,2023,Saturday,6 PM,Home,Saint Francis (Pa.),Newark,Del.,W,42,14
3,08,23,2023,Saturday,6 PM,Home,New Hampshire,Newark,Del.,W,29,25
4,10,07,2023,Saturday,3 PM,Home,Duquesne,Newark,Del.,W,43,17
5,10,14,2023,Saturday,3 PM,Home,North Carolina A&T,Newark,Del.,W,21,6
6,10,21,2023,Saturday,2 PM,Away,Hampton,Hampton,Va.,W,47,3
7,10,28,2023,Saturday,1 PM,Away,Towson,Towson,Md.,W,51,13
8,11,04,2023,Saturday,1 PM,Home,Elon,Newark,Del.,L,27,33
9,11,11,2023,Saturday,1 PM,Away,Campbell,Buies Creek,N.C.,W,45,7
10,11,18,2023,Saturday,1 PM,Home,Villanova,Newark,Del.,L,7,35
11,11,25,2023,Saturday,2 p.m.,Home,Lafayette,Newark,Del.,W,36,34
12,12,02,2023,Saturday,9 p.m.,Away,Montana,Missoula,Mont.,L,19,49

In [76]:
#join month, day and year columns into single date column
df['date'] = df['year'].map(str) + '-' + df['month'].map(str) + '-' + df['day'].map(str)
print(df['date'])

0     2023-08-31
1     2023-08-09
2     2023-08-16
3     2023-08-23
4     2023-10-07
5     2023-10-14
6     2023-10-21
7     2023-10-28
8     2023-11-04
9     2023-11-11
10    2023-11-18
11    2023-11-25
12    2023-12-02
Name: date, dtype: object

In [77]:
#put datetime format onto date column
df['date']=pd.to_datetime(df['date'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   month        13 non-null     object
 1   day          13 non-null     object
 2   year         13 non-null     object
 3   day of week  13 non-null     object
 4   time         13 non-null     object
 5   homeaway     13 non-null     object
 6   opponent     13 non-null     object
 7   city         13 non-null     object
 8   state        13 non-null     object
 9   winloss      13 non-null     object
 10  UDscore      13 non-null     int64
 11  oppscore     13 non-null     int64
 12  date         13 non-null     datetime64[ns]
dtypes: datetime64[ns](1), int64(2), object(10)
memory usage: 1.4+ KB

In [79]:
#clean up time column
df['time'].unique()
df['time'] = df['time'].replace('12 p.m.', '12 PM')
df['time'] = df['time'].replace('2 p.m.', '2 PM')
df['time'] = df['time'].replace('9 p.m.', '9 PM')
df['time'].unique()

array(['7 PM', '12 p.m.', '6 PM', '3 PM', '2 PM', '1 PM', '2 p.m.',
       '9 p.m.'], dtype=object)

array(['7 PM', '12 PM', '6 PM', '3 PM', '2 PM', '1 PM', '9 PM'],
      dtype=object)

In [80]:
df

,month,day,year,day of week,time,homeaway,opponent,city,state,winloss,UDscore,oppscore,date
0,08,31,2023,Thursday,7 PM,Away,Stony Brook,Stony Brook,N.Y.,W,37,13,2023-08-31
1,08,09,2023,Saturday,12 PM,Away,Penn State,University Park,Pa.,L,7,63,2023-08-09
2,08,16,2023,Saturday,6 PM,Home,Saint Francis (Pa.),Newark,Del.,W,42,14,2023-08-16
3,08,23,2023,Saturday,6 PM,Home,New Hampshire,Newark,Del.,W,29,25,2023-08-23
4,10,07,2023,Saturday,3 PM,Home,Duquesne,Newark,Del.,W,43,17,2023-10-07
5,10,14,2023,Saturday,3 PM,Home,North Carolina A&T,Newark,Del.,W,21,6,2023-10-14
6,10,21,2023,Saturday,2 PM,Away,Hampton,Hampton,Va.,W,47,3,2023-10-21
7,10,28,2023,Saturday,1 PM,Away,Towson,Towson,Md.,W,51,13,2023-10-28
8,11,04,2023,Saturday,1 PM,Home,Elon,Newark,Del.,L,27,33,2023-11-04
9,11,11,2023,Saturday,1 PM,Away,Campbell,Buies Creek,N.C.,W,45,7,2023-11-11
10,11,18,2023,Saturday,1 PM,Home,Villanova,Newark,Del.,L,7,35,2023-11-18
11,11,25,2023,Saturday,2 PM,Home,Lafayette,Newark,Del.,W,36,34,2023-11-25
12,12,02,2023,Saturday,9 PM,Away,Montana,Missoula,Mont.,L,19,49,2023-12-02

In [82]:
#clean up state column
df['state'].unique()
df['state'] = df['state'].replace('N.Y.', 'NY')
df['state'] = df['state'].replace('Pa.', 'PA')
df['state'] = df['state'].replace('Del.', 'DE')
df['state'] = df['state'].replace('Va.', 'VA')
df['state'] = df['state'].replace('Md.', 'MD')
df['state'] = df['state'].replace('N.C.', 'NC')
df['state'] = df['state'].replace('Mont.', 'MT')
df['state'].unique()

array(['N.Y.', 'Pa.', 'Del.', 'Va.', 'Md.', 'N.C.', 'Mont.'], dtype=object)

array(['NY', 'PA', 'DE', 'VA', 'MD', 'NC', 'MT'], dtype=object)

In [83]:
df

,month,day,year,day of week,time,homeaway,opponent,city,state,winloss,UDscore,oppscore,date
0,08,31,2023,Thursday,7 PM,Away,Stony Brook,Stony Brook,NY,W,37,13,2023-08-31
1,08,09,2023,Saturday,12 PM,Away,Penn State,University Park,PA,L,7,63,2023-08-09
2,08,16,2023,Saturday,6 PM,Home,Saint Francis (Pa.),Newark,DE,W,42,14,2023-08-16
3,08,23,2023,Saturday,6 PM,Home,New Hampshire,Newark,DE,W,29,25,2023-08-23
4,10,07,2023,Saturday,3 PM,Home,Duquesne,Newark,DE,W,43,17,2023-10-07
5,10,14,2023,Saturday,3 PM,Home,North Carolina A&T,Newark,DE,W,21,6,2023-10-14
6,10,21,2023,Saturday,2 PM,Away,Hampton,Hampton,VA,W,47,3,2023-10-21
7,10,28,2023,Saturday,1 PM,Away,Towson,Towson,MD,W,51,13,2023-10-28
8,11,04,2023,Saturday,1 PM,Home,Elon,Newark,DE,L,27,33,2023-11-04
9,11,11,2023,Saturday,1 PM,Away,Campbell,Buies Creek,NC,W,45,7,2023-11-11
10,11,18,2023,Saturday,1 PM,Home,Villanova,Newark,DE,L,7,35,2023-11-18
11,11,25,2023,Saturday,2 PM,Home,Lafayette,Newark,DE,W,36,34,2023-11-25
12,12,02,2023,Saturday,9 PM,Away,Montana,Missoula,MT,L,19,49,2023-12-02